
body {
    /* background-color: black; */
    background-image:url("Background.png");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color:greenyellow;
    
}
*{
    cursor:url(Hello.png)103 64, auto;
}
h1{
    background-color: green;
    text-align: center;
    color:black;

}
img.img:hover{
    box-shadow: 0px 0px 1000px green;
    
}
/* a.source{
    color:blue;
} */
img.img {
    max-width:600px;
    margin: 350px;
}