
body {
    /* background-color: black; */
    background-image:url("Background.png");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    color:greenyellow;
    
}
*{
    cursor:url("Hello.png")103 64, auto;
}
h1{
    background-color: green;
    text-align: center;
    color:black;
    font-size: 50px;

}
img.img:hover{
    box-shadow: 0px 0px 1000px green;
    
}
/* a.source{
    color:blue;
} */
img.img {
    max-width:600px;
    border-radius: 20px;
    border: 10px solid greenyellow;
    /* margin: 0 auto 1em auto;
    display:block; */
    
}
img.img1 {
    max-width:  500px;
    border-radius: 20px;
    border: 10px solid greenyellow;
     /* margin: 0 auto 1em auto;
    display:block; */
}
img.img1:hover{
    box-shadow: 0px 0px 1300px green;
   
    
}

p {
    font-size: larger;

}

a.inline {
    text-align: center;
    font-size: larger;
    
    color:greenyellow;
}
table.table {
    background-color: greenyellow;
}
td {
    color:greenyellow;
}