
body{
    background-color: black;
    font-family: cursive;
    font-size: large;
    color:greenyellow;
    
}
*{
    cursor:url(Hello.png)103 64, auto;
}
h1{
    background-color: green;
    color:black;

}
img:hover{
    box-shadow: 0px 0px 50px green;
}
/* a.source{
    color:blue;
} */
img.2006 {
    
}